@import url('https://fonts.googleapis.com/css?family=Coda+Caption:800');

body {
    background-color: #012F38;
    display: grid;
    grid-template-columns: 2fr;
    justify-content: center;
    justify-items: center;
}

#mainField {
    display: grid;
    width: 100%;
    height: 100%;
    border: 5px solid #511F50;
    background-color: #E0FFF7;
}

button {
    background-color: #511F50;
    height: 25px;
    font-family: 'Coda Caption', sans-serif;
    font-size: 13px;
}

h1 {
    font-family: 'Coda Caption', sans-serif;
    font-size: 30px;
    margin: 10px
}

#output {
    font-family: 'Coda Caption', sans-serif;
    font-size: 20px
}

.slidecontainer {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
}

.slider {
    -webkit-appearance: none;
    border-radius: 10px;
    width: 300px;
    height: 15px;
    background: #d3d3d3;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 25px;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #511F50;
    cursor: pointer;
}

#controls {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    align-items: center;
}

#controls {
    display: grid;
    height: 500px;
}

#buttons {
    display: grid;
    margin: 10px;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

@media (max-width: 400px) {
    #controls {
        display: grid;
        justify-content: center;
    }

    h1 {
        font-size: 1.5rem;
    }
}